%b_tit { background: url(../images/b_tit.png) no-repeat; background-size: 100% 100%;}
%b_logo { background: url(../images/b_logo.png) no-repeat; background-size: 100% 100%;}
%bSprite { background: url(../images/bSprite.png) no-repeat; background-size: rem(300) rem(300);}